/* TaskManager.css */
.task-manager {
    margin-top: 20px;
    background-color: rgb(184, 184, 184);
    padding: 1rem 3rem;
  
    box-shadow: 0px 0px 20px rgb(63, 63, 63);

}
.task-manager:hover{
    color: orangered;
}

.task-input {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
      border-radius: 2rem;
  
}

button {
    padding: 5px 20px;
    cursor: pointer;
}

.task {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    

}

#taskTitle, #taskDescription{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;

}

.task.completed h3 {
    text-decoration: line-through;
    color: #888;
}

.text{
    padding: 1rem;
    font-size: 1rem;


}



/* Responsive Design */
@media (max-width: 600px) {
    .task-input input {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        padding: 8px;
        font-size: 1em;
    }
}